.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/db/src/test/resources/secrets-mysql.properties
/docker/mysql/scripts/2-rmt-2023-07-19.sql
/docker/.env
/rest/src/main/resources/secrets-mysql.properties
/dependencies.txt
/rest/src/main/resources/keystore.p12
/rest/src/main/resources/secrets.properties
