[Unit]
Description=Das Tool Rest API
After=syslog.target

[Service]
User=oblume
ExecStart=/usr/lib/jvm/openjdk-21/bin/java -jar /home/oblume/das-tool-rest/das-tool-rest.jar
WorkingDirectory=/home/oblume/das-tool-rest
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
